/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

.img {
    width:640px;
    height:360px;
  }

  @fontMarvel {
    font-family: myFirstFont;
    src: url('assets/fonts/Marvel.ttf');
    font-weight: bold;
  }

  body {
    background-color: rgb(39, 39, 39) !important;
    color: white !important;
  }